body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button { 
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

p {
    color:#E5E7EB;
    font-size: 18px;
}

.upper {
    background-color: #1F2937;
    color: white;
}

.header, .footer {
    display: flex;
    justify-content: space-around;
    padding: 0px 48px;
}

.header h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.left, .right {
    width: 440px;
    padding: 128px;
}

.left {
    padding-right: 0px;
}

.right {
    padding-left: 0px;
}

.left h1 {
    font-size: 48px;
}

.right img {
    width: 440px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px
}

.random h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.information {
    display: flex;
    justify-content: center;
    width: 160px;
    gap: 64px;
    margin: 16px;
}

.information img {
    height: 160px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items : center;
}

.card p {
    color: #606773;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 112px 180px;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    align-self: center;
}

.quote h1 {
    margin-left: auto;
}

.call {
    background-color: #3882F6;
    border-radius: 8px;
    margin: 128px;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    gap: 208px;
}

.call .text h1, p {
    margin: 0px;
}

.call .text h1 {
    color: #ffffff;
}

.call button {
    border: 2px solid #ffffff;
    padding: 8px 48px;
}

.footer {
    background-color: #1F2937;
    padding: 48px;
}